body{
    background-image: url(./images/coffee-beans-wallpaper-preview.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;


}
.about{
    color:white;
    text-align: left;
    padding: 7%;
    padding-top: 5%;
    font-size: 20px;
    letter-spacing: 0.2em;
    font-style: italic;
    width: 30%;
    
   
}

/* Style the navbar */
.navbar {
    background-color:whitesmoke; /* Set background color */
     /* overflow: hidden;   */
}

/* Style the list inside the navbar */
.navbar ul {
    list-style-type: none; /* Remove bullet points */
    margin: 0;
    padding: 0;
}

/* Style each list item */
.navbar li {
    float: right;
    margin:0 10px ;
    color:white;
    margin-right: 40px;
    font-size: 20px;
    font-weight: lighter;
 
    /* font-weight: 10px; Float items horizontally */
    /* line-height: 0.5px; */
}

/* Style the links inside the list items */
.navbar li a {
    display: block;
    color: white; /* Text color */
    text-align: center;
    padding: 20px 20px; /* Add padding */
    text-decoration: none; /* Remove underline */
}

/* Change link color on hover */
.navbar li a:hover {
    background-color: #ddd;
    color: white;
}
.portfolio .box-container
{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.portfolio .box-container .box
{
    flex: 1 1 30rem;
    height: 25rem;
    position: relative;
    overflow: hidden;
    border:1rem solid #fff;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    background: #fff;
    border-radius: 0.5rem;
}
.portfolio .box-container .box img
{height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: .10rem;
position: relative;
z-index: 1;
}
.portfolio .box-container .box:hover img
{
 height: 80%;
 width: 80%;
}
.portfolio .box-container .box h3
{
    position: absolute;
    bottom: .5rem; left: 1rem;
    font-size: 2.5rem;
    color: #333;
    text-transform: uppercase;
}
.portfolio .box-container .box .icons
{
    position: absolute;
    top: 1rem; right: 1rem;
}
.portfolio .box-container .box .icons a{
    display: block;
    width: 4rem;
    height: 4rem;
    border-radius: .5rem;
    text-align: center;
    background: #eee;
    color: #333;
    font-size: 1.7rem;
    line-height: 4rem;
    transition: all.3s ease;
    margin-bottom: 1rem;
}
.portfolio .box-container .box .icons a:hover
{
    background: var(--main-color);
    color: #fff;
}