*{
    padding: 0;
    margin: 0;
}
body{
    background-image: url("./coffee.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: #ddd;
}
.images{
    display: flex;
    width:100%;
    flex-wrap: wrap;
    gap: 10px; 
    justify-content: center;
    align-items: flex-start;
    padding: 10px 0 10px 0; 
}

.blog-two{
    background-image: url(./image/architect.jpg);
    width: 100%px;
    height: 260px;
   text-align: center;
   padding-top: 30%;
   font-size: 15px;
   color: white;
   background-repeat: no-repeat;

}
.about-us h1{
    font-size: 20px;
}
#Contact button{
    border: 1px none; 
}
#Contact{
    margin: 20px;

}
#Contact h1{
    font-size: 20px;
}
span{
    background-color: black;
    width: 120px;
    height: 120px;

}
.type1{
    padding: 10px 0 10px 0;
}
.type2{
    padding: 10px 0 10px 0;
}
.type3{
    padding: 10px 0 10px 0;
}
.type4{
    padding: 10px 0 10px 0;
}
form input{
    width: 100%;
    height: 30px;
    opacity: 0.5;

}
 .list-items{
    gap: 30px;
    margin-left: 75%; 
   
 } 
 .list-items ul{
    display: flex;
    list-style: none;
    gap: 40px;   
}  
.list-items ul a{
    text-decoration: none;
}


body{
    font-family: Verdana,sans-serif;
    font-size: 13px;
    line-height: 1.5;
    letter-spacing: normal;
    word-spacing: normal;
}
hr{
     opacity: 0.2; 
     margin: 20px;
}

.send button{
    background-color: black;
    color: white;
    width: 140px;
    height: 40px;
    margin-top: 40px;

    
    

    /* margin-top: 0px; */
}

.images img{
    width: 360px;
    width: 360px;
}
.images h2{
    position: absolute;
    color: white;
    background-color: black;
    font-size: 14px;
    padding: 10px 0 10px 0;
}

.prj h1{
    padding: 20px 0 20px 0;
    font-size: 20px;
    opacity: 0.8;

}
.team-archi{
    display: flex;
    width:100%;
    flex-wrap: wrap;
    gap: 10px; 
    justify-content: center;
    align-items: flex-start;
    padding: 10px 0 10px 0;
    color: white;

}
footer{
    background-color: black;
    padding: 60px 60px 30px 60px;
    /* margin-bottom: 40px; */
}
.team-archi img{
    width: 360px;
    height: 300px;

}
.team-archi p{
    margin: 20px 0 20px 0;
    
}
#form{
    box-sizing: inherit;
    display: table;
    padding: 20px;
}
.team-archi button{
    padding: 10px 40px 10px 40px;
    width: 100%;
    font-size: 15px;
    border: none;

}
.team-archi h1{
    font-size: 20px;
    padding: 10px 0 10px 0
    
}
#footer{
    padding: 10px 20px 10px 20px;
}
.about-us{
    padding: 30px 0px 0px 30px;
    font-size: 15px;
}
.prj h1{
    margin: 20px;
}
#footer p{
    color: white;
}
.about-us p{
    padding: 20px 10px 20px 10px;

}
.send button{
    padding: 10px 10px 10px 10px;
}

/* Style the navbar */
.navbar {
   position: fixed;
   width: 100%;
   top: 0;
   z-index: 1000;
   padding: 10px;
 }

/* Style the list inside the navbar */
.navbar ul {
    list-style-type: none; /* Remove bullet points */
    margin: 0;
    padding: 0;
}

/* Style each list item */
.navbar li {
    float: right;
    margin:0 10px ;
    color:white;
    margin-right: 40px;
    font-size: 20px;
    font-weight: lighter;
 
    /* font-weight: 10px; Float items horizontally */
    /* line-height: 0.5px; */
}
#background-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -2;
}
/* Style the links inside the list items */
.navbar li a {
    display: block;
    color: white; /* Text color */
    text-align: center;
    padding: 20px 20px; /* Add padding */
    text-decoration: none; /* Remove underline */
}

/* Change link color on hover */
.navbar li a:hover {
    /* background-color: orange; */
    color: orange;
}

.contact-contect2{
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    margin: auto;
    margin-top: 25px;
  }
.contact-contect2{
    /* margin-left: 50px;
     margin-top: 50px; */
    justify-content: center;
    text-align: center;
    margin-top: 90px;
}

.part2-contact{
    background-color:wheat;
    width: 80%;
    margin-top: -80px;
    height: 30%;
    padding: 25px;
}
.part2-contact form{
    display:flex;
    flex-direction: column;
}
.part2-contact form input{
    margin-top: 20px;
    border: none;
    padding: 10px 0 10px 0;
    border-bottom: 2px solid #D4A6B6;
}
input::placeholder{
    color: black;
    text-align: left;
    padding-left: 10px;
}
.btn1{
    padding: 10px;
    margin-top: 10px;
}
.team-archi{
    margin-top: 50px;
}

.team-archi{
    height: 250px;
    width: 250px;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 30%;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.4);
    /* background: linear-gradient(45deg, #bba203e7, #ae31d9); */
}

.team-archi:hover{
    height: 470px;
    width: 350px;
    border-radius: 5px;
    box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
}
.team-archi .wrapper img{
    position: relative;
    z-index: 20;
    border-radius: 30%;
    display: block;
    height: 200px;
    width: 200px;
    border: 5px solid bisque;
    object-fit: cover;
    margin: 20px auto;
    transition: all 0.3 ease;
}
.adding{
    padding-left: 10px;
}


.team-archi:hover .wrapper img.active{
    height: 470px;
    width: 350px;
    margin: 0px auto;
    border: none;
    border-radius: 5px;
}
.container{
display: flex;

  flex-wrap: wrap;
 
  justify-content: space-between;
}

.team-archi {
    margin-top: 80px;
    /* flex: 0 0 calc(25% - 20px); */
    /* border-radius: 30%; */
    margin-bottom: 20px; 
  }

.navbar:hover{
    color: orange;
}
  .toshow{
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    width: 60%;
    height: 10vh;
    margin-left: 20%;
    z-index: 999;
    background-color: rgb(255, 255, 255);
    margin-top:50vh;
    color: black;
    border-radius: 10px;
  }
  .icon{
    background-color: #ddd;
  }