/* Style the navbar */
.navbar {
    background-color:whitesmoke; /* Set background color */
     /* overflow: hidden;   */
}

/* Style the list inside the navbar */
.navbar ul {
    list-style-type: none; /* Remove bullet points */
    margin: 0;
    padding: 0;
}

/* Style each list item */
.navbar li {
    float: right;
    margin:0 10px ;
    color:white;
    margin-right: 40px;
    font-size: 20px;
    font-weight: lighter;
 
    /* font-weight: 10px; Float items horizontally */
    /* line-height: 0.5px; */
}

/* Style the links inside the list items */
.navbar li a {
    display: block;
    color: white; /* Text color */
    text-align: center;
    padding: 20px 20px; /* Add padding */
    text-decoration: none; /* Remove underline */
}

/* Change link color on hover */
.navbar li:hover {
    /* background-color: #333; */
    color: orange;
}
#background-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -2;
}
.welcome{
    color:white;
    text-align: left;
    padding-top: 10%;
    /* font-family: Arial ; */
    padding: 7%;
    padding-top: 15%;
    font-size: px;
    letter-spacing: 0.2em;
    font-family: Monoton;
    font-weight: 800;
   
    
}
#shop{
  font-style: italic;
  font-size: 18px;
}
