*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    width: 100%;
    height: 100%;
    background-image: url(./coffee.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;

}
h1,p{
    font-family: cursive;
    
}
p{
    font-size: 18px;
}
.title{
    display: grid;
    place-items: center;
    margin-top: 6%;
    padding-top: 10px;
    color: azure;
}
.title:hover{
    color: bisque;
}
.con{
    background-color: azure;
    width: 30%;
    padding: 15px;
    margin: 10px 0 10px 10%;
    border-radius: 5px;
}
.con:hover{
    background-color: bisque;
    /* color: white; */
    
}
.contac{
    left: 0px;  
    margin-top: 10%;
}
span{
    padding-left: 20px;
    font-family: cursive;
}

p{
    margin-left: 35px;
}
a{
    text-decoration: none;
    color:black;
    
}

.co{
    margin-top: 10%;
}
.navbar {
    background-color:whitesmoke; /* Set background color */
     /* overflow: hidden;   */
     margin-bottom: -5%;
}

/* Style the list inside the navbar */
.navbar ul {
    list-style-type: none; /* Remove bullet points */
    margin: 0;
    padding: 0;
}


.navbar li {
    float: right;
    margin:0 10px ;
    color:white;
    margin-right: 40px;
    font-size: 20px;
    font-weight: lighter;
 
    /* font-weight: 10px; Float items horizontally */
    /* line-height: 0.5px; */
}


.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 20px; 
    text-decoration: none;
}


.navbar li a:hover {
    background-color: #ddd;
    color: white;
}

